{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">

                        <header>
                            <h2>{{ product.name }}</h2>
                        </header>

                        <p>
                            <a href="{{ path('product_view',{'id': product.id}) }}"><img src="{{ asset('uploads/images/' ~ product.image) }}" width="300" height="150"></a>
                        </p>

                        <p>
                           Price: {{ product.price }}
                        </p>

                        <small>
                           In Stock: {{ product.isInStock }}
                        </small>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs">
                                    {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('product_edit', {'id': product.id }) }}">Edit &raquo;</a>
                                    <a href="{{ path('product_delete', {'id': product.id }) }}">Delete &raquo;</a>
                                    {% endif %}
                                   {#<a href="{{ path( '', {'id': article.id}) }}">Read more &raquo;</a>#}
                                        <a href="">Order</a>
                                    {% endif %}
                                </a>
                            </div>
                        </footer>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
