{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
                <div class=" ">
                    <form>
                    <header>
                        <h2>{{ product.name }}</h2>
                    </header>
                    </form>
                    <p>
                        <a href="{{ path('product_view',{'id': product.id}) }}"><img src="{{ asset('uploads/images/' ~ product.image) }}" width="300" height="150"></a>
                    </p>

                    <p>
                        Price: {{ product.price }} lv.
                    </p>

                    <p>
                        In Stock: {{ product.isInStock }}
                    </p>

                    <p>
                        Description: {{ product.description }}
                    </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-success text-center" href="{{ path('product_edit', {'id': product.id }) }}">Edit &raquo;</a>
                                <a class="btn btn-danger text-center" href="{{ path('product_delete', {'id': product.id }) }}">Delete &raquo;</a>
                            {% endif %}

                            {% if app.user %}
                                <a class="btn btn-primary text-center" href="{{ path('product_order') }}">Order &raquo;</a>
                            {% endif %}

                </div>
    </div>
{% endblock %}

