{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('user_delete', {'id': user.id}) }}" method="post">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_firstName">First name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_firstName" placeholder="First Name"
                                   name="user[firstName]" value="{{ user.firstName }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_lastName">Surname</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_lastName" placeholder="Surname" name="user[lastName]" value="{{ user.lastName }} " disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_email" placeholder="Email" name="user[email]" value="{{ user.email }} " disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_address">Address</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="user_address" placeholder="Address" name="user[address]" value="{{ user.address }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_number">Telephone Number</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="user_number" placeholder="Telephone Number" name="user[number]" value="{{ user.number }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-danger btn-primary">Delete</button>
                            <a class="btn btn-default" href="{{ path('user_profile') }}">Cancel</a>
                        </div>
                    </div>

                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

