{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="">
            <form class="form-horizontal" enctype="multipart/form-data" method="post">
                    <legend></legend>
                <legend></legend>
                <h3 class="text-center">
                    First name: {{ user.firstName }}
                </h3>
                <h3 class="text-center">
                    Last name: {{ user.lastName }}
                </h3>
                <h3 class="text-center">
                    Email: {{ user.email }}
                </h3>
                <h3 class="text-center">
                    Address: {{ user.address }}
                </h3> <h3 class="text-center">
                    Telephone number: {{ user.number }}
                </h3>
                    <div class="form-group ">
                        <div class="col-sm-4 col-sm-offset-4 " >
                            <a href="{{ path('user_edit', {'id':user.id}) }}" class="btn pull-right btn-success btn-sm">Edit &raquo;</a>
                            <a href="{{ path('user_delete', {'id':user.id}) }}" class="btn pull-right btn-danger btn-sm" >Delete &raquo;</a>
                            <a href="{{ path('homepage') }}" class="btn btn-default pull-right btn-sm">Back &raquo;</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}